    <nav class="navbar navbar-inverse">
        <div class="">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="menu-toggle"><i id="toggle-btn" class='fa fa-chevron-left' aria-hidden='true'></i></a>
            <!--<span class="navbar-brand-only" href="#">WebSiteName</a>-->
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <span class="navbar-form navbar-right">
              <a id="refresh-btn" href="usuario" class="btn btn-link"><i class="fa fa-user-o" aria-hidden="true"> <%= user.username %></i></a>
              <a id="refresh-btn" href="configuracion" class="btn btn-link"><i class="fa fa-cog" aria-hidden="true"> Configuración</i></a>
            </span>
          </div>
          <!--/.nav-collapse -->
        </div>
      </nav>