      <ul class="sidebar-nav">

        <li class="sidebar-brand">
          <a href="#"><img src="./img/kinnil.png" height="50px" width="210px" alt="kinnil logo"></a>
        </li>

        <li><a href="inicio"> Inicio</a></li>
        <li><a href="disponibilidad"> Disponibilidad</a></li>
        <li><a href="rendimiento"> Rendimiento</a></li>
        <li><a href="calidad"> Calidad</a></li>
        <li><a href="superusuario"> Panel superusuario</a></li>

        <li class="active-pro"><img src="./img/logoPiixan.png" height="60" width="160" alt="piixan logo">
          <p><small>Todos los derechos reservados </br>PID Electronics® 2017.</small></p>
        </li>
      </ul>

