<div class="logo">
    <div style="padding:0px;float:left;width:20%;opacity:0.85;text-align:center;">
        <img src="/assets/img/logo.png" width="100px" height="auto" alt="logo kinnil">
    </div>
    <!--<div style="padding:0px;float:right;width:20%;opacity:0.85;text-align:center;">
        <img src="/assets/img/kinnil.png" width="350px" height="auto" alt="logo kinnil">
    </div> -->
</div>

<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a href="../dispatcher/home" type="button" class="btn btn-primary-outline navbar-btn home-link">
            <i class="glyphicon glyphicon-home"></i>
                <span>Home</span>
            </a>
            <!--<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>-->
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="glyphicon glyphicon-user"></i> UserName</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
            </ul>
        </div>
    </div>
</nav>