<nav id="sidebar">
    <!--<div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
    </div>-->

    <ul class="list-unstyled components">
        <!--
            TODO: hay que hacer que la clase active se ponga segun la pagina que estan viendo actualmente
        -->
        <li id="li_sdbr_dispatch">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Dispatch</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="../dispatcher/tobeassigned">To be assigned</a></li>
                <li><a href="../dispatcher/workinprogress">Work in Progress</a></li>
                <li><a href="../dispatcher/completed">Completed</a></li>
                <li><a href="../dispatcher/divert">Divert</a></li>
            </ul>
        </li>
        <li id="li_sdbr_administrative">
            <a href="#administrativeSubmenu" data-toggle="collapse" aria-expanded="false">Administrative</a>
            <ul class="collapse list-unstyled" id="administrativeSubmenu">
                <li><a href="../administrative/clients">Clients</a></li>
                <li><a href="../administrative/hr">Human resources</a></li>
                <li><a href="../administrative/drivers">Drivers</a></li>
                <li><a href="../administrative/clockin">Clock in</a></li>
            </ul>
        </li>
        <li id="li_sdbr_assets"><a href="../assets/home">Assets</a></li>
        <li id="li_sdbr_payroll"><a href="#PayrollSubmenu" data-toggle="collapse" aria-expanded="false">Payroll</a></li>
            <ul class="collapse list-unstyled" id="PayrollSubmenu">
                <li><a href="../payroll/hr">Human resources</a></li>
                <li><a href="../payroll/drivers">Drivers</a></li>
            </ul>
        <li id="li_sdbr_invoice"><a href="../invoice/home">Invoice</a></li>
        <li id="li_sdbr_reports"><a href="../reports/home">Reports</a></li>
    </ul>

    <!--
    <ul class="list-unstyled CTAs">
        <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
        <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
    </ul>
-->
</nav>