    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
    
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Ticket detail</h4>
            </div>
            <div class="modal-body" style="background-color:#ffffff">
                <div id="to-print" >
                <div class="row">
                    <div class="col-md-6">
                        <p>Ticket No.  <span id="ticketId"> </span></p>
                        <p>Job Born on <span id="born_date"> </span></p>
                        <p>Completed on <span id=""> </span></p>
                        <p>Price <span id="price"> </span></p>
                        <p>Product <span id="product"> </span></p>
                        <p>Base <span id="base"> </span></p>
                        <p>Silo <span id="silo"> </span></p>
                        <p>Coments <span id="comments"> </span></p>
                        
                    </div>
                    <div class="col-md-6">
                        <p>Load No. <span id="tmsNo"> </span></p>
                        <p>Client <span id="client"> </span></p>
                        <p>Address <span id="address"> </span></p>
                        <p>P.O. <span id="po"> </span></p>
                        <p>Origin <span id="origin"> </span></p>
                        <p>Destination <span id="destination"> </span></p>
                        <p>B.O.L. <span id="bol"> </span></p>
                        <p>Sand Type <span id="sand"> </span></p>
                        <p>Weight <span id="weight"> </span></p>
                    </div>
                </div>
                <div class="row">
                    <div class = "container col-md-12">
                    <div class="row bs-wizard" style="border-bottom:0;">
                
                        <div id="step1" class="col-xs-2 bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">To be Assinged </div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"> <span id="assigned"></span></div>
                        </div>
                        
                        <div id="step2" class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Work in progress</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"> <span id="workInProgress"></span></div>
                        </div>
                        
                        <div id="step3" class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Completed</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"> <span id="completed"></span></div>
                        </div>
                        
                        <div id="step4" class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                            <div class="text-center bs-wizard-stepnum">To be invoiced</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"> <span id="invoiced"></span></div>
                        </div>
    
                        <div id="step5" class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                            <div class="text-center bs-wizard-stepnum">To be Payrolled</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"> <span id="payrolled"></span></div>
                        </div>
    
                        <div id="step6" class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                            <div class="text-center bs-wizard-stepnum">To be Paid</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"> <span id="paid"></span></div>
                        </div>
                    </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>Driver - Truck - Millage</h4>
                    </div>
                    <div class="col-md-6">
                        <p>Driver <span id="driver"> </span></p>
                        <p>Crew <span id="crew"> </span></p>
                        <p>Shift <span id="shift"> </span></p>
                    </div>
                    <div class="col-md-3">
                        <p>Truck <span id="truck"> </span></p>
                        <p>Trailer <span id="trailer"> </span></p>
                        <p>Amount Payrolled <span id="amountPayrolled"> </span></p>
                    </div>
                    <div class="col-md-3">
                        <p>Starting Milles <span id="starttingMilles"> </span></p>
                        <p>Ending Milles <span id="endingMilles"> </span></p>
                        <p>Date <span id="date"> </span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>Timeline Events</h4>
                    </div>
                    <div class="col-md-12">
                        <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                            <thead>
                                <tr>
                                    <th data-column-id="no">No.</th>
                                    <th data-column-id="evento">evento</th>
                                    <th data-column-id="date">Timestamp</th>
                                    <th data-column-id="longitude">longitude</th>
                                    <th data-column-id="latitude">latitude</th>
                                    <th data-column-id="notes">notes</th>
                                </tr>
                            </thead>
                            <tbody id="timeline">
                                
                            </tbody>
                        </table>
                    </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="ticket-to-pdf" type="button" class="btn btn-success">Download</button>
            </div>
          </div>
        </div>
    </div> 
        
        <!-- 
            Consultar un ticket por Id y cargarlos en el modal
        -->
        <script>
            $( document ).ready(function() {
            $('#myModal').on('shown.bs.modal', function (e) {

                var $trigger = $(e.relatedTarget);
                
                // Obtiene el detalle del ticket
                $.getJSON('/api/dispatcher/getTicketDetail/' + $trigger.data('ticket'), function(data) {
    
                    //console.log(data);
                    $('#ticketId').html('<strong>' + data.ticket[0].id + '</strong>');
                    $('#born_date').html('<strong>' + data.ticket[0].born_date + '</strong>');
                    $('#price').html('<strong>' + data.ticket[0].price + '</strong>');
                    $('#product').html('<strong>' + data.ticket[0].product+ '</strong>'); //TODO: hay que ver si este producto es el correc to
                    $('#base').html(
                        "<strong><a data-pk=" + data.ticket[0].id + " data-title='Update base' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-base' data-name='base'>"+data.ticket[0].base+"</a></strong>"    
                    );
                    $('#silo').html(
                        "<strong><a data-pk=" + data.ticket[0].id + " data-title='Update silo' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-silo' data-name='silo' >"+data.ticket[0].silo+"</a></strong>"
                    );
                    $('#comments').html(
                        "<strong><a data-pk=" + data.ticket[0].id + " data-title='Update comments' "+
                        "data-type='textarea' class='black-link' "+
                        "href='#' id='update-comments' data-name='notes'>"+data.ticket[0].notes+"</a></strong>"
                    );
                    $('#tmsNo').html('<strong>' + data.ticket[0].tms + '</strong>');
                    $('#client').html('<strong>' + data.ticket[0].client_name +'</strong>') //TODO: Aqui hay que mostar el nombre del clien te
                    $('#address').html('<strong>' + data.ticket[0].client_address +'</strong>'); //TODO: hay que mostrar lso datos del clien te
                    $('#po').html('<strong>' + data.ticket[0].po + '</strong>');
                    $('#origin').html('<strong>' + data.ticket[0].location + '</strong>');
                    $('#destination').html('<strong>' + data.ticket[0].facility + '</strong>');
                    $('#bol').html(
                        "<strong><a data-pk=" + data.ticket[0].id + " data-title='Update B.O.L.' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-bol' data-name='bol'>"+data.ticket[0].bol+"</a></strong>"
                    );
                    $('#sand').html('<strong>' + data.ticket[0].sand_type + '</strong>');
                    $('#weight').html(
                        "<strong><a data-pk=" + data.ticket[0].id + " data-title='Update weight' "+
                        "data-type='number' class='black-link' "+
                        "href='#' id='update-weight' data-name='weight'>"+data.ticket[0].weight+"</a></strong>"
                    );
                    $('#assigned').html('<strong>' + data.ticket[0].assign_date + '</strong>');
                    $('#workInProgress').html('<strong>' + "" + '</strong>'); // TODO: hay que ver de donde sacar este da to
                    $('#completed').html('<strong>' + data.ticket[0].completed_date + '</strong>');
                    $('#invoiced').html('<strong>' + data.ticket[0].invoice_date + '</strong>');
                    $('#payrolled').html('<strong>' + data.ticket[0].payrolled_date + '</strong>');
                    $('#paid').html('<strong>' + ""); // TODO: hay que ver de donde sacar este da + '</strong>'to
                    $('#driver').html('<strong>' + data.ticket[0].driver_name + '</strong>');
                    $('#crew').html('<strong>' + data.ticket[0].crew + '</strong>');
                    $('#shift').html('<strong>' + data.ticket[0].shift + '</strong>');
                    $('#truck').html('<strong>' + data.ticket[0].truck + '</strong>'); // TODO: hay que ver de donde sacar este da to
                    $('#trailer').html('<strong>' + data.ticket[0].trailer + '</strong>'); // TODO: hay que ver de donde sacar este da to
                    $('#amountPayrolled').html('<strong>' + "" + '</strong>'); // TODO: hay que ver de donde sacar este dat o;
                    $('#starttingMilles').html('<strong>' + data.ticket[0].starting_mi + '</strong>');
                    $('#endingMilles').html('<strong>' + data.ticket[0].end_mi + '</strong>');
                    $('#date').html('<strong>' + data.ticket[0].assign_date + '</strong>');
    
                    // las 3 opciones para el process step
                    //complete
                    //active
                    //disabled
    
                    $(".bs-wizard-step").each(function (index,element) {
                        
                        var status = data.ticket[0].status;
                        if (status <= 4) {
                            status +1;
                        }
    
                        if (index+1 == status){
                            $(this).removeClass("disabled");
                            $(this).addClass("active");
                        }
                        if (index+1 < status){
                            $(this).removeClass("disabled");
                            $(this).addClass("complete");
                        }
                    });
    
                    // x-editable
                    $('#update-comments, #update-silo, #update-base, #update-bol, #update-weight').editable({
                        url: '/api/administrative/updateticket/',
                        send: 'always',
                        success: function(response, newValue) {
                            if (response.status == 'error') return response.msg; //msg will be shown in editable form
                        }
                    });

                });

                // obtiene los eventos del ticket
                $.getJSON('/api/dispatcher/getEventsDetail/' + $trigger.data('ticket'), function(data) {
                    
                    if(data.events.length === undefined || 
                        data.events.length === null ||
                        typeof data.events.length !== 'number' ||
                        data.events.length < 1) {
                            return 0
                        }
                    else {
                        for (var x = 0; x < data.events.length; x++) {
                            var number = x+1;
                            var evento = "<tr>"
                            evento += "<td>"+number+"</td>";
                            evento += "<td>"+data.events[x].evento+"</td>";
                            evento += "<td>"+data.events[x].date+"</td>";
                            evento += "<td>"+data.events[x].longitude+"</td>";
                            evento += "<td>"+data.events[x].latitude+"</td>";
                            evento += "<td>"+data.events[x].notes+"</td>";
                            evento += "</tr>";
                            $("#timeline").append(evento);
                        }
                    }
                });
            })
    
            // Limpia los steps y les asigna la clase disabled
            $('#myModal').on('hide.bs.modal', function (e) {
                $(".bs-wizard-step").each(function (index,element) {
                    $(this).removeClass("complete");
                    $(this).removeClass("active");
                    $(this).removeClass("disabled");
                });
    
                $(".bs-wizard-step").each(function (index,element) {
                    $(this).addClass("disabled");
                });

                $("#timeline").html("");
            });

            $('#ticket-to-pdf').on('click', function(){
                //var doc = new jsPDF()
                
                // Primera columna
                /*doc.setFontSize(14)
                doc.text(20, 30, 'Ticket No. ' + $('#ticketId').text());
                doc.setFontSize(10)
                //Job Born on
                //Completed on
                doc.text(20, 35, 'Price ' + $('#price').text());
                doc.text(20, 40, 'Product ' + $('#product').text());
                doc.text(20, 45, 'Base ' + $('#base').text());
                doc.text(20, 70, 'Silo ' + $('#silo').text());
                doc.text(20, 80, 'Coments ' + $('#comments').text());
                doc.text(20, 90, 'Load No. ' + $('#tmsNo').text());
                doc.text(20, 100, 'Client ' + $('#client').text());
                doc.text(20, 110, 'Address ' + $('#address').text());
                doc.text(20, 120, 'P.O. ' + $('#po').text());
                doc.text(20, 130, 'Origin ' + $('#origin').text());
                doc.text(20, 140, 'Destination ' + $('#destination').text());
                doc.text(20, 150, 'B.O.L ' + $('#bol').text());
                doc.text(20, 160, 'Sand Type ' + $('#sand').text());
                doc.text(20, 170, 'Weight ' + $('#weight').text());
                doc.text(20, 180, 'Assigned Date ' + $('#assigned').text());
                doc.text(20, 190, ' ' + $('#workInProgress').text());
                doc.text(20, 200, ' ' + $('#completed').text());
                doc.text(20, 210, ' ' + $('#invoiced').text());
                doc.text(20, 220, ' ' + $('#payrolled').text());
                doc.text(20, 230, ' ' + $('#paid').text());
                doc.text(20, 240, 'Driver ' + $('#driver').text());
                doc.text(20, 250, ' ' + $('#crew').text());
                doc.text(20, 260, 'Shift ' + $('#shift').text());
                doc.text(20, 270, 'Truck ' + $('#truck').text());
                doc.text(20, 280, 'Trailer ' + $('#trailer').text());
                doc.text(20, 290, 'Amount Payrolled ' + $('#amountPayrolled').text());
                doc.text(20, 300, 'Starting Milles ' + $('#starttingMilles').text());
                doc.text(20, 310, 'Ending Milles ' + $('#endingMilles').text());
                doc.text(20, 320, 'Date ' + $('#date').text());



                doc.save('autoprint.pdf');
                */
                //doc.fromHTML($('#to-print').get(0), 10, 10, {
                //    'width': 180
                //});
                //doc.save('sample-file.pdf');


                /*
                * Por las prisas se genera este PDF con addHTML. Hay que ver si no la hacen de pedo por la calidad de la imagen
                * Aqui esta un ejemplo que hay que estudiar, parece que tiene todo lo que necesitamos https://codepen.io/LittleViolette/pen/begBbe
                */
                var pdf = new jsPDF('p', 'pt', 'letter');
    
                var options = {
                    pagesplit: true,
                    background: '#ffffff',
                    pagesplit: true
                }

                var nombre = $('#tmsNo').text()
                
                pdf.addHTML($('#to-print')[0], 40, 40, options, function () {
                    pdf.save(nombre + '.pdf');
                });
            });
        });
        </script>
