<div class="row ups">
    <div class="col-md-12">
        <a href="#" style="color:#222; margin-left: 10px; cursor: default;" class="pull-right">Trailers Up <span class="badge pull-right" id="trailersUp"></span></a>
        <a href="#" style="color:#222; margin-left: 10px; cursor: default;" class="pull-right">Trucks Up <span class="badge pull-right" id="trucksUp"></span></a>
        <a href="#" style="color:#222; margin-left: 10px; cursor: default;" class="pull-right">Drivers Up <span class="badge pull-right" id="driversUp"></span></a>
    </div>
</div>