<div class="row">
    <div class="col-md-12">
        <a href="#" style="color:#222; margin-left: 10px;" class="pull-right">Trailers Up <span class="badge" id="trailersUp"></span></a>
        <a href="#" style="color:#222; margin-left: 10px;" class="pull-right">Trucks Up <span class="badge" id="trucksUp"></span></a>
        <a href="#" style="color:#222; margin-left: 10px;" class="pull-right">Drivers Up <span class="badge" id="driversUp"></span></a>
    </div>
</div>