<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>

   <title>
   </title>
</head>

<body>
   <div id="wrapper">
      <!-- Sidebar -->


      <div id="sidebar-wrapper">
         <%include ../partials/sidebar-wrapper %>
      </div>
      <!-- Page Content -->


      <div id="page-content-wrapper">
         <%include ../partials/navbar %>

         <div class="container-fluid" id="contenedor-maestro">
            <h1>Reporte de disponibilidad</h1>
            <%= ta[0].ta %>

            <div class="grid-stack" id="custom-stack-items">
            </div>
         </div>
      </div>
      <!-- /#page-content-wrapper -->
   </div>
   <!-- /#wrapper -->
   <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
   <script src="/socket.io/socket.io.js"></script> 
   <%include ../partials/js %>
   
</body>
</html>