<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Inicio</title>
   <style>
        table, th, td {
            border: 1px solid black;
        }
   </style>
</head>

<body>
   <div id="wrapper">
      <!-- Sidebar -->


      <div id="sidebar-wrapper">
         <%include ../partials/sidebar-wrapper %>
      </div>
      <!-- Page Content -->


        <div id="page-content-wrapper" style="height: 100vh">
        <%include ../partials/navbar %>

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2>Inicio</h2> <!-- TODO: Hay que cambiar este titulo a otro lado o de plano quitarlo -->
                <!-- TODO: Hay que hay que revisar si la tablet esta connectada o no para poner el status real una vez se abre la pagina -->
                <div class="widget widget-stats">
                <div class="content">
                    <table border="1" class="table table-bordered" id='eventos'>
                            <thead>
                                <tr>
                                    <th>Conexion</th>
                                    <th>Estado</th>
                                    <th>Maquina</th>
                                    <th>Producto</th>
                                    <th>Disponibilidad</th>
                                    <th>Rendimiento</th>
                                    <th>Calidad</th>
                                    <th>OEE</th>
                                </tr>
                            </thead>
                            
                
                            <tr class="quote">
                                <td>OK
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    </td>
                            </tr>
                            
                            </table>
                            
                
                            <p class="alert alert-warning">No eventos</p>
                        </div>
                </div>
            </div>
        </div>
        </div>
      <!-- /#page-content-wrapper -->
   </div>
   <!-- /#wrapper -->
   <script src="http://code.jquery.com/jquery-1.10.1.min.js">
   </script> 
   <script src="/socket.io/socket.io.js">
   </script> 
   <script>
       /*
        var socket = io.connect('http://localhost:3000');

        socket.on('message', function(message) {
            //alert('The server has a message for you: ' + message );
        })

        // Esta funcion de aqui es de jquery
        $('#poke').click(function () {
            socket.emit('inner', 'Hi server, how are you?');
        })

        // Esta funcion de aqui es de jquery
        $('#encendido').click(function () {
            socket.emit('evento', '{"operacion_uuid":"UUID", "maquinas_id":1, "activo":true, "razones_id":1, "tiempo":300 }');
        })

        $('#apagado').click(function () {
            socket.emit('evento', '{"operacion_uuid":"UUID", "maquinas_id":1, "activo":false, "razones_id":2, "tiempo":300 }');
        })
        

        socket.on('update-inicio', function(message) {
           var status = document.getElementById("status");
           status.innerHTML = message[ message.length -1 ].estado;
        });

        socket.on('desconectado', function(message) {
           var status = document.getElementById("connection");
           status.innerHTML = "Desconectado";
        });

        socket.on('conectado', function(message) {
           var status = document.getElementById("connection");
           status.innerHTML = "Conectado";
        });
        */
   </script> 
   <%include ../partials/js %>
</body>
</html>