<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Superusuario</title>
</head>

<body>
   <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
         <%include ../partials/sidebar-wrapper %>
      </div>
      <!-- Page Content -->
      <div id="page-content-wrapper">
         <%include ../partials/navbar %>

         <div class="container-fluid" id="contenedor-maestro">
            <h1>Superusuario</h1>
            <hr>
            <div>
                <!-- Nav tabs -->
               <ul class="nav nav-tabs" role="tablist">
                <li class="active" role="presentation">
                    <a aria-controls="principal" data-toggle="tab" href="#principal" role="tab">Principal</a>
                </li>
                <li role="presentation">
                    <a aria-controls="version" data-toggle="tab" href="#version" role="tab">Version</a>
                </li>
                <li role="presentation">
                    <a aria-controls="version" data-toggle="tab" href="#tz" role="tab">Timezone</a>
                </li>
                </ul>
                <div class="tab-content"> 
                    <div class="tab-pane active" id="principal" role="tabpanel">
                    <!-- 
                        Principal
                    -->
                     <h4>Principal</h4>
                    </div>
                    <div class="tab-pane" id="version" role="tabpanel">
                    <!-- 
                        Versiones
                    -->
                     <h4>Versiones</h4>
                     <div class="form-group">
                        <select class="form-control" id="sel1">
                           <option>
                              Tiempos muertos
                           </option>
                           <option>
                              Tiempos muertos y calidad
                           </option>
                           <option>
                              OEE
                           </option>
                        </select>
                     </div>
                    </div>
                    <div class="tab-pane" id="tz" role="tabpanel">
                        <!-- 
                            Versiones
                        -->
                         <h4>Timezone</h4>
                         <p>Actual: America/Chihuahua</p>

                         <p>Cambiar:</p>
                         <div id="map" style="width:80%"></div>
                         <button onclick="saveTz()" class="btn btn-primary" id="savetz" type="button"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button> 
                    </div> 
                         
                </div>

            </div>


            

            <div class="grid-stack" id="custom-stack-items">
            </div>
         </div>
      </div>
      <!-- /#page-content-wrapper -->
   </div>
   <!-- /#wrapper -->
   <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
   <!-- TODO: Cambiar esto a que se cargue localmente -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
   <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.4.1/moment-timezone-with-data-2010-2020.min.js"></script>
   <script type="text/javascript" src="./js/timezone-picker.js"></script>
   <script src="/socket.io/socket.io.js"></script> 

   <script>
    var socket = io.connect('http://ec2-18-221-199-24.us-east-2.compute.amazonaws.com:3000');
    //var socket = io.connect('http://localhost:3000');

    // Inicializa el timezone pricker
    
    $('#map').timezonePicker();
    $('#map').data('timezonePicker').setValue('America/Chihuahua');

    var tz = $('#map').data('timezonePicker').getValue();
    
    console.log(tz);
    console.log(tz[0].timezone); // Obtiene el timezone actual
        
    function saveTz() {

        var tz = $('.dropdown-toggle').data('timezonePicker').getValue();

            console.log(tz[0].timezone);

            
            alert(tz[0].timezone);
    }
        


    

    socket.on('message', function(message) {
        //alert('The server has a message for you: ' + message );
    })

    socket.on('evento', function(message) {
        alert('Este es el UUID que mandaste: ' + message);
    })

    // Esta funcion de aqui es de jquery
    $('#poke').click(function() {
        socket.emit('message', 'Hi server, how are you?');
    })

    // Esta funcion de aqui es de jquery
    $('#config').click(function() {
        socket.emit('config', 'all');
    })

    // Esta funcion de aqui es de jquery
    $('#encendido').click(function() {
        socket.emit('evento', '{"operacion_uuid":"UUID", "maquinas_id":1, "activo":true, "razones_id":1, "tiempo":300 }');
    })

    $('#apagado').click(function() {
        socket.emit('evento', '{"operacion_uuid":"UUID", "maquinas_id":1, "activo":false, "razones_id":2, "tiempo":300 }');
    })
   </script> <%include ../partials/js %>
</body>
</html>