<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Clients</title>
</head>

<body>

<%include ../partials/navbar %>

<div class="wrapper">
        <!-- Sidebar Holder -->
        <%include ../partials/sidebar %>

        <!-- Page Content Holder -->
        <div id="content">
            <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="../administrative/clients">Clients</a></li>
                    <li role="presentation"><a href="../administrative/hr">Human resources</a></li>
                    <li role="presentation"><a href="../administrative/drivers">Drivers</a></li>
            </ul>
            <div class="tab-content"> 
                <div class="content">

                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Clients</h4>
                            <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric" data-formatter ="link">#</th>
                                        <th data-column-id="name">Name</th>
                                        <th data-column-id="address">Address</th>
                                        <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                                    </tr>
                                </thead>
                                <%if (clients.length > 0) { %>
                                <tbody>
                                    <% for(var i=0; i<clients.length; i++) {%>
                                        <tr class="quote">
                                            <td id=""> <%= clients[i].id %> </td>
                                            <td id=""> <%= clients[i].name %> </td>
                                            <td id=""> <%= clients[i].address %> </td>
                                            <td id=""></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                <% } else{ %>  
                                    <tbody>
                                        <p>No clients</p>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <%include ../partials/js %>


    <!--
        Inicializa el bootgrid y sus opciones, TODO: ver si se puede alimentar esto desde un endpoint
    -->
    <script>
        (function(APP){
            APP.SERVICE = APP.SERVICE || {};

            APP.SERVICE.ADMINISTRATIVE = APP.SERVICE.ADMINISTRATIVE || {};

            APP.LOAD = APP.LOAD || {};

            //page load functionality first!
            APP.LOAD.SIDE_BAR = APP.LOAD.SIDE_BAR || function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            };

            APP.LOAD.GRID = APP.LOAD.GRID || function(){

                var linkFormatter = function(column, row){
                    return "<a href='../administrative/clients/"+ row.id +"' class='text-center black-link'>" + row.id + "</a>";
                };

                var commandsFormatter = function(column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-trash-o\"></span></button>";
                };

                var loadedRsJQueryBootgrid = function(){

                    var onClickDelete = function(e){
                        $.ajax({
                            url: '/api/administrative/clients/delete/' + $(this).data("row-id"),
                            type: 'PUT', //type is any HTTP method
                            data: {
                                    clientId: $(this).data("row-id")
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload();
                            },
                            error: function(xhr) { // if error occured
                                alert("Error occured. please try again");
                            },
                        });
                    };

                    $("#grid-basic")
                        .find(".command-delete")
                        .on("click", onClickDelete);
                };

                $("#grid-basic")
                    .bootgrid({
                        caseSensitive: false,
                        formatters: {
                            "link": linkFormatter,
                            "commands": commandsFormatter
                        }
                    })
                    .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
            };
            
            APP.LOAD.SIDE_BAR();
            APP.LOAD.GRID();
        })(window);
    </script>


</body>
</html>