<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="PID Electronics">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <title>Sand Revolution | CEDAR - Goals</title>    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,600,800" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="http://sandrevolution.com/assets/frontend/img/icons/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="http://sandrevolution.com/assets/frontend/img/icons/favicon.png">

    <!-- Vendor Base CSS -->
    <link rel="stylesheet" href="http://sandrevolution.com/assets/frontend/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="http://sandrevolution.com/assets/frontend/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="http://sandrevolution.com/assets/frontend/css/theme.css">
    <link rel="stylesheet" href="http://sandrevolution.com/assets/frontend/css/theme-elements.css">
    <link rel="stylesheet" href="http://sandrevolution.com/assets/frontend/css/style-switcher.css">
    <link rel="stylesheet" href="http://sandrevolution.com/assets/frontend/css/custom.css">
    <link rel="stylesheet" href="http://sandrevolution.com/cedar/style.css">
    <!-- font awsome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <style>
        .row-flex {
            display: flex;
        }
        .col-md-2 {
            flex-direction: column;
        }

        .col-md-12 {
            flex-direction: column;
        }

        .glyphicon-ok:before {
            content: "\f00c";
        }

        .glyphicon-remove:before {
            content: "\f00d";
        }

        .glyphicon {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
        }

        .not-a-secret-button {
            width: 50px;
            height: 50px;
            opacity: 1;
            position: fixed;
            bottom: 0;
            left: 0;
        }

        .indicador {
            color: #6d767b;
            font-size: 25px;
            text-align: center;
            padding: 5px 0px;
        }

        .indicador > .measure {
            color: #6d767b;
            font-size: 18px;
            text-align: center;
            padding: 5px 0px;
        }
    </style>
</head>

<body>

<div class="body">
    <!-- begin: page header top bar-->
    <header id="header" data-plugin-options=" {'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 40, 'stickySetTop': '-20px', 'stickyChangeLogo': true }">
        <div class="header-body">
            <div class="header-top">
                <div class="container">
                    <div class="header-row">
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo shadow-box-md">
                                <a href="#">
                                    <img height="80" data-sticky-height="80" data-sticky-top="10" src="http://sandrevolution.com/assets/frontend/img/logos/logo.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row appear-animation" data-appear-animation="slideInDown" data-appear-animation-delay="0" data-appear-animation-duration=".5s">
                            <div class="header-nav header-nav-stripe">
                                <!-- Main navigation -->

                                <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills nav-pills-quaternary" id="mainNav">
                                            <li><a class="dropdown-item" href="#">About</a></li>
                                            <li><a class="dropdown-item" href="#">Support</a></li>
                                            <li><a class="dropdown-item" href="#">Logout</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- end Main navigation -->
                            </div>

                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                Menu
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end: page header -->

    <div role="main" class="main">

        <!-- begin: page title -->
        <section class="page-header page-header-light">
            <div class="container pt-3">
                <div class="row align-items-center appear-animation animated fadeInLeft appear-animation-visible"
                     data-appear-animation-delay="500">
                    <div class="col-md-9 col-12">
                        <h1>ON SITE PROPPANT MANAGEMENT</h1>
                    </div>
                    <div class="col-md-3 text-right">
                        <img src="http://sandrevolution.com/assets/backend/img/logos/cedar.png" height="60" alt="logo cedar" class="d-none d-md-inline-block">
                    </div>
                </div>
            </div>
        </section>
        <!-- end: page title -->

        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-4 pr-4 bg-cedar appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="500" data-appear-animation-duration="1s">
                    <aside class="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

                        <div class="form-row mt-3">
                            <div class="form-group col">
                                <label class="text-primary font-weight-bold">Customer</label>
                                <input id="tx_customer" type="text" class="form-control" disabled="disabled" value="Halliburton" />
                            </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="form-group col">
                                <label class="text-primary font-weight-bold">Crew</label>
                                <select id="sl_crew" class="form-control">
                                    <option value="-1">Select a crew</option>
                                    <% crews.forEach((crew) => { %>
                                    <option value="<%= crew.id %>"><%= crew.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="form-group col">
                                <label class="text-primary font-weight-bold">Location</label>
                                <select id="sl_location" disabled="disabled" class="form-control">
                                    <option value="-1">Select a location</option>
                                </select>
                            </div>
                        </div>

                        <!--<button id="btn_load_crew">GO!</button>-->

                        <div class="form-row mt-3">
                            <div class="col-xl-6 col-lg-12 mt-4">
                                <label class="font-weight-bold">Date:</label>
                                <span id="sp_date" class="form-control"></span>

                            </div>
                            <div class="col-xl-6 col-lg-12 mt-4">
                                <label class="font-weight-bold">Last date received:</label>
                                <span id="sp_last_date" class="form-control"></span>
                            </div>
                            <div class="col-lg-12 mt-4">
                                <button id="btn_reload" class="btn btn-tertiary pull-right mb-4">Refresh</button>
                            </div>
                        </div>

                    </aside>
                </div>

                <div class="col-lg-9 col-md-8 pl-4" style="border-left: 1px solid #CCC;">

                    <div class="row my-4">

                        

                        <div class="col-xl-2 col-lg-4 col-6">
                            <div class="featured-box featured-box-primary featured-box-effect-1">
                                <div class="box-content">
                                    <h4><span id="sp_silo_silo_01">Silo 1</span></h4>
                                    <span id="sp_silo_weight_01"></span><span> lbs.</span><br>
                                    <span id="sp_silo_percentage_01"></span><span> %</span>
                                    <div style="height: 200px; display:block;">
                                        <div class="bar-container" style="position:relative; height: 100%; width: 80%; margin: auto auto; border: 2px solid black;">
                                            <div id="dv_silo_percentage_01" style="position:absolute; bottom: 0px; width: 100%; margin-left: auto; margin-right:auto; height: 0px; background-color: red;"></div>
                                        </div>
                                    </div>
                                    <span id="sp_silo_sand_01"  class="font-weight-bold text-color-primary"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-4 col-6">
                            <div class="featured-box featured-box-primary featured-box-effect-1">
                                <div class="box-content">
                                    <h4><span id="sp_silo_silo_02">Silo 2</span></h4>
                                    <span id="sp_silo_weight_02"></span><span> lbs.</span><br>
                                    <span id="sp_silo_percentage_02"></span><span> %</span>
                                    <div style="height: 200px; display:block;">
                                        <div class="bar-container" style="position:relative; height: 100%; width: 80%; margin: auto auto; border: 2px solid black;">
                                            <div id="dv_silo_percentage_02" style="position:absolute; bottom: 0px; width: 100%; margin-left: auto; margin-right:auto; height: 0px; background-color: red;"></div>
                                        </div>
                                    </div>
                                    <span id="sp_silo_sand_02"  class="font-weight-bold text-color-primary"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-4 col-6">
                            <div class="featured-box featured-box-primary featured-box-effect-1">
                                <div class="box-content">
                                    <h4><span id="sp_silo_silo_03">Silo 3</span></h4>
                                    <span id="sp_silo_weight_03"></span><span> lbs.</span><br>
                                    <span id="sp_silo_percentage_03"></span><span> %</span>
                                    <div style="height: 200px; display:block;">
                                        <div class="bar-container" style="position:relative; height: 100%; width: 80%; margin: auto auto; border: 2px solid black;">
                                            <div id="dv_silo_percentage_03" style="position:absolute; bottom: 0px; width: 100%; margin-left: auto; margin-right:auto; height: 0px; background-color: red;"></div>
                                        </div>
                                    </div>
                                    <span id="sp_silo_sand_03"  class="font-weight-bold text-color-primary"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-4 col-6">
                            <div class="featured-box featured-box-primary featured-box-effect-1">
                                <div class="box-content">
                                    <h4><span id="sp_silo_silo_04">Silo 4</span></h4>
                                    <span id="sp_silo_weight_04"></span><span> lbs.</span><br>
                                    <span id="sp_silo_percentage_04"></span><span> %</span>
                                    <div style="height: 200px; display:block;">
                                        <div class="bar-container" style="position:relative; height: 100%; width: 80%; margin: auto auto; border: 2px solid black;">
                                            <div id="dv_silo_percentage_04" style="position:absolute; bottom: 0px; width: 100%; margin-left: auto; margin-right:auto; height: 0px; background-color: red;"></div>
                                        </div>
                                    </div>
                                    <span id="sp_silo_sand_04"  class="font-weight-bold text-color-primary"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-4 col-6">
                            <div class="featured-box featured-box-primary featured-box-effect-1">
                                <div class="box-content">
                                    <h4><span id="sp_silo_silo_05">Silo 5</span></h4>
                                    <span id="sp_silo_weight_05"></span><span> lbs.</span><br>
                                    <span id="sp_silo_percentage_05"></span><span> %</span>
                                    <div style="height: 200px; display:block;">
                                        <div class="bar-container" style="position:relative; height: 100%; width: 80%; margin: auto auto; border: 2px solid black;">
                                            <div id="dv_silo_percentage_05" style="position:absolute; bottom: 0px; width: 100%; margin-left: auto; margin-right:auto; height: 0px; background-color: red;"></div>
                                        </div>
                                    </div>
                                    <span id="sp_silo_sand_05"  class="font-weight-bold text-color-primary"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-4 col-6">
                            <div class="featured-box featured-box-primary featured-box-effect-1">
                                <div class="box-content">
                                    <h4><span id="sp_silo_silo_06">Silo 6</span></h4>
                                    <span id="sp_silo_weight_06"></span><span> lbs.</span><br>
                                    <span id="sp_silo_percentage_06"></span><span> %</span>
                                    <div style="height: 200px; display:block;">
                                        <div class="bar-container" style="position:relative; height: 100%; width: 80%; margin: auto auto; border: 2px solid black;">
                                            <div id="dv_silo_percentage_06" style="position:absolute; bottom: 0px; width: 100%; margin-left: auto; margin-right:auto; height: 0px; background-color: red;"></div>
                                        </div>
                                    </div>
                                    <span id="sp_silo_sand_06"  class="font-weight-bold text-color-primary"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr class="light">

                    <div class="row">

                        <div class="col-lg-12 col-xl-6">
                            <div class="featured-box">
                                <div class="box-content">
                                    <h4>Goals: <span class="sp_goals_location_name"></span></h4>
                                    <table width="100%">
                                        <tbody id="dv_goals_per_sand"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-6">
                            <div class="featured-box">
                                <div class="box-content">
                                    <h4>To this day:</h4>
                                    <table width="100%">
                                        <tbody id="dv_goals_to_this_day"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="featured-box">
                                <div class="box-content">
                                    <h4>Loads: <span class="sp_goals_location_name"></span></h4>
                                    <table width="100%">
                                        <tbody id="dv_goals_green_core_well"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <!-- New KPIs -->
                    <div class="row">
                        <div class="col-lg-12 col-xl-4">
                            <div class="featured-box">
                                <div class="box-content">
                                    <h6>Average Loads per Day: <span class="sp_goals_location_name"></span></h6>
                                    <div id="avgLoads" class="indicador">0.0</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-4">
                            <div class="featured-box">
                                <div class="box-content">
                                    <h6>Average Miles Added per Day:</h6>
                                    <div id="avgMiles" class="indicador">0.0</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-4">
                            <div class="featured-box">
                                <div class="box-content">
                                    <h6>Average Net Weight per Truck: <span class="sp_goals_location_name"></span></h6>
                                    <div id="avgWeight" class="indicador">0.0</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-6">
                            <div class="featured-box">
                                <div class="box-content">
                                    <h6>Facility  Detention Time: <span class="sp_goals_location_name"></span></h6>
                                    <div id="sumFacility" class="indicador">0.0<span class="measure"> hrs</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-6">
                            <div class="featured-box">
                                <div class="box-content">
                                    <h6>Wellsite Detention Time: <span class="sp_goals_location_name"></span></h6>
                                    <div id="sumWellsite" class="indicador">0.0<span class="measure"> hrs</span></div>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>

        </div>

    </div>

        <footer id="footer" class="default narrow">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                    <div class="not-a-secret-button" id="nothing-to-hide"></div>
                        <p class="text-color-light" style="font-size: 90%; line-height: 20px;">
                            <i class="fas fa-copyright"></i>&nbsp; Copyright 2018. All rights reserved.<br>
                            <i class="fas fa-fw"></i>&nbsp; Designed by <b><a href="mailto:info@compasso.com.mx" target="_blank">Compasso</a> &
                            <a href="http://pidelectronics.com" target="_blank">PID Electronics</a></b>.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://sandrevolution.com/assets/frontend/img/logos/logo-footer.png" class="img-fluid" style="max-width: 240px;">
                    </div>

                </div>
            </div>
        </footer>

    <script src="http://sandrevolution.com/assets/frontend/vendor/jquery/jquery.min.js"></script>
    <script src="http://sandrevolution.com/assets/frontend/vendor/jquery.appear/jquery.appear.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="http://sandrevolution.com/assets/frontend/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="http://sandrevolution.com/assets/frontend/js/theme.js"></script>
    <script src="http://sandrevolution.com/assets/frontend/js/custom.js"></script>
    <script src="http://sandrevolution.com/assets/frontend/js/theme.init.js"></script>

    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <!-- X editable -->
    <script type="text/javascript" src="/assets/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
    const numberWithCommas = (x) => {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    (function(APP){
        APP.STATE = APP.STATE || {};

        APP.STATE.SOCKET = APP.STATE.SOCKET || io();

        APP.SERVICES = APP.SERVICES || {};

        APP.SERVICES.FETCH_GOALS_DATA = APP.SERVICES.FETCH_GOALS_DATA || function(locationId){

            var sandName = [];
            var goalPerSand = [];
            var currentSandPerGoal = [];

            var ajaxRequests = [];

            ajaxRequests.push(
                $.ajax({
                    url: '/api/administrative/location/'+ locationId +'/goals-data',
                    success: function(goalsData){
                        $('#dv_goals_per_sand').html('');

                        for(var i = 0; i < goalsData.length; i++){
                            var goal = goalsData[i];

                            var productNameLabel = $('<span></span>').text(goal.name);
                            var productNameColumn = $('<td></td>').append(productNameLabel);
                            var productGoalLbsLabel = $('<span></span>').text(numberWithCommas(parseFloat(goal.lbs_goal).toFixed(2)) + " lbs");
                            var productGoalLbsColumn = $('<td></td>').append(productGoalLbsLabel);

                            var productRow = $('<tr></tr>');
                            productRow.append(productNameColumn);
                            productRow.append(productGoalLbsColumn);

                            $('#dv_goals_per_sand').append(productRow);

                            sandName.push(goal.name);
                            goalPerSand.push(parseFloat(goal.lbs_goal).toFixed(2));
                                                        
                        }

                        
                    },
                    error: function(){
                        alert('There was an error when pulling scales data. Reloading page.');
                        APP.location.reload();
                    }
                })
            );

            ajaxRequests.push(
                $.ajax({
                    url: '/api/administrative/location/'+ $(".sp_goals_location_name").first().text() +'/to-this-day',
                    success: function(toThisDayData){
                        $('#dv_goals_green_core_well,#dv_goals_to_this_day').html('');

                        for(var i = 0; i < toThisDayData.length; i++){
                            var goal = toThisDayData[i];

                            var toThisDayWeightLabel = $('<span></span>').text(numberWithCommas(parseFloat(goal.current_lbs).toFixed(2)) + " lbs");
                            var toThisDayWeightColumn = $('<td></td>').append(toThisDayWeightLabel);
                            var toThisDayProductDeliveredLabel = $('<span></span>').text(goal.sand_type + ' has been delivered.');
                            var toThisDayProductDeliveredColumn = $('<td></td>').append(toThisDayProductDeliveredLabel);

                            var deliveredRow = $('<tr></tr>');
                            deliveredRow.append(toThisDayWeightColumn);
                            deliveredRow.append(toThisDayProductDeliveredColumn);

                            $('#dv_goals_to_this_day').append(deliveredRow);

                            currentSandPerGoal.push(parseFloat(goal.current_lbs).toFixed(2))
                        }

                        
                    },
                    error: function(){
                        alert('There was an error when pulling "to this day" data. Reloading page.');
                        APP.location.reload();
                    }
                })
            );

            console.log(sandName);
            console.log(goalPerSand);
            console.log(currentSandPerGoal);

            $.when
                .apply(undefined, ajaxRequests).always(function(){
                    
                    if (sandName.length > 0 && goalPerSand.length > 0 && currentSandPerGoal.length > 0 ){

                        for(var i = 0; i < sandName.length; i++){

                            var weightLabel = $('<span></span>').text(numberWithCommas(parseFloat(goalPerSand[i]).toFixed(2)) + " lbs");
                            var weightColumn = $('<td align="center"></td>')
                                .append(weightLabel)
                                .css('width', '20%');
                            
                            var goalSand = parseInt(goalPerSand[i]);
                            var currentSand = parseInt(currentSandPerGoal[i]);

                            var currentPercent = currentSand * 100 / goalSand;
                            var remainingLoads = Math.ceil((goalSand - currentSand) / 50000);

                            if (currentPercent > 100) {
                                currentPercent = 100;
                            }

                            var percentageDiv = $('<div></div>')
                                .css('width', currentPercent.toFixed(2) + '%')
                                .css('background-color', 'green')
                                .css('height', '20px');
                            
                            var percentage = $('<td></td>')
                                .append(percentageDiv)
                                .css('width', '60%')
                                .css('border', '2px solid black');

                            var remainingLabel = $('<span></span>').text(String(remainingLoads) + ' loads to goal.');
                            var remainingColumn = $('<td align="center"></td>')
                                .append(remainingLabel)
                                .css('width', '20%');
                            
                            var greenCoreRow = $('<tr></tr>')
                                .append(weightColumn)
                                .append(percentage)
                                .append(remainingColumn);

                            $("#dv_goals_green_core_well").append(greenCoreRow);
                        }
                    }           
                });
        };

        APP.SERVICES.FETCH_SCALES_DATA = APP.SERVICES.FETCH_SCALES_DATA || function(locationId){
            $.ajax({
                url: '/api/administrative/location/'+ locationId +'/scales-data',
                success: function(scalesData){
                    if(scalesData.length>0){

                        $('#sp_last_date').text(scalesData[0].last_date);

                        $('#sp_silo_weight_01').text(numberWithCommas(parseFloat(scalesData[0].weight1).toFixed(0)));
                        $('#sp_silo_weight_02').text(numberWithCommas(parseFloat(scalesData[0].weight2).toFixed(0)));
                        $('#sp_silo_weight_03').text(numberWithCommas(parseFloat(scalesData[0].weight3).toFixed(0)));
                        $('#sp_silo_weight_04').text(numberWithCommas(parseFloat(scalesData[0].weight4).toFixed(0)));
                        $('#sp_silo_weight_05').text(numberWithCommas(parseFloat(scalesData[0].weight5).toFixed(0)));
                        $('#sp_silo_weight_06').text(numberWithCommas(parseFloat(scalesData[0].weight6).toFixed(0)));


                        $('#sp_silo_percentage_01').text(parseFloat(scalesData[0].porcent1).toFixed(2));
                        $('#sp_silo_percentage_02').text(parseFloat(scalesData[0].porcent2).toFixed(2));
                        $('#sp_silo_percentage_03').text(parseFloat(scalesData[0].porcent3).toFixed(2));
                        $('#sp_silo_percentage_04').text(parseFloat(scalesData[0].porcent4).toFixed(2));
                        $('#sp_silo_percentage_05').text(parseFloat(scalesData[0].porcent5).toFixed(2));
                        $('#sp_silo_percentage_06').text(parseFloat(scalesData[0].porcent6).toFixed(2));


                        /*
                        * Sand Names
                        */
                        $('#sp_silo_sand_01').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update Sand Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-sand1' data-name='sand_name1'>"+scalesData[0].sand_name1+"</a></strong>");

                        $('#sp_silo_sand_02').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update Sand Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-sand2' data-name='sand_name2'>"+scalesData[0].sand_name2+"</a></strong>");

                        $('#sp_silo_sand_03').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update Sand Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-sand3' data-name='sand_name3'>"+scalesData[0].sand_name3+"</a></strong>");

                        $('#sp_silo_sand_04').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update Sand Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-sand4' data-name='sand_name4'>"+scalesData[0].sand_name4+"</a></strong>");

                        $('#sp_silo_sand_05').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update Sand Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-sand5' data-name='sand_name5'>"+scalesData[0].sand_name5+"</a></strong>");

                        $('#sp_silo_sand_06').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update Sand Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-sand6' data-name='sand_name6'>"+scalesData[0].sand_name6+"</a></strong>");

                        /*
                        * Silo anmes
                        */

                        $('#sp_silo_silo_01').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update silo Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-silo1' data-name='silo_name1'>"+scalesData[0].silo_name1+"</a></strong>");

                        $('#sp_silo_silo_02').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update silo Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-silo2' data-name='silo_name2'>"+scalesData[0].silo_name2+"</a></strong>");

                        $('#sp_silo_silo_03').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update silo Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-silo3' data-name='silo_name3'>"+scalesData[0].silo_name3+"</a></strong>");

                        $('#sp_silo_silo_04').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update silo Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-silo4' data-name='silo_name4'>"+scalesData[0].silo_name4+"</a></strong>");

                        $('#sp_silo_silo_05').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update silo Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-silo5' data-name='silo_name5'>"+scalesData[0].silo_name5+"</a></strong>");

                        $('#sp_silo_silo_06').html("<strong><a data-pk=" + scalesData[0].id + " data-title='Update silo Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' id='update-silo6' data-name='silo_name6'>"+scalesData[0].silo_name6+"</a></strong>");

                        $('#update-sand1, #update-sand2, #update-sand3, #update-sand4, #update-sand5, #update-sand6, #update-silo1, #update-silo2, #update-silo3, #update-silo4, #update-silo5, #update-silo6').editable({
                            url: '/api/administrative/updateSandName/',
                            send: 'always',
                            mode: 'inline',
                            success: function(response, newValue) {
                                if (response.status == 'error') return response.msg; //msg will be shown in editable form
                            }
                        });

                        $('#update-sand1, #update-sand2, #update-sand3, #update-sand4, #update-sand5, #update-sand6, #update-silo1, #update-silo2, #update-silo3, #update-silo4, #update-silo5, #update-silo6')
                        .editable('option', 'disabled', true);
                        
                        var color;
                        if(parseFloat($('#sp_silo_percentage_01').text())<25){
                            color = 'red';
                        }else if(parseFloat($('#sp_silo_percentage_01').text())<75){
                            color = 'orange';
                        }else{
                            color = 'green';
                        }
                        $('#dv_silo_percentage_01').css('background-color', color);
                        if(parseFloat($('#sp_silo_percentage_02').text())<25){
                            color = 'red';
                        }else if(parseFloat($('#sp_silo_percentage_02').text())<75){
                            color = 'orange';
                        }else{
                            color = 'green';
                        }
                        $('#dv_silo_percentage_02').css('background-color', color);
                        if(parseFloat($('#sp_silo_percentage_03').text())<25){
                            color = 'red';
                        }else if(parseFloat($('#sp_silo_percentage_03').text())<75){
                            color = 'orange';
                        }else{
                            color = 'green';
                        }
                        $('#dv_silo_percentage_03').css('background-color', color);
                        if(parseFloat($('#sp_silo_percentage_04').text())<25){
                            color = 'red';
                        }else if(parseFloat($('#sp_silo_percentage_04').text())<75){
                            color = 'orange';
                        }else{
                            color = 'green';
                        }
                        $('#dv_silo_percentage_04').css('background-color', color);
                        if(parseFloat($('#sp_silo_percentage_05').text())<25){
                            color = 'red';
                        }else if(parseFloat($('#sp_silo_percentage_05').text())<75){
                            color = 'orange';
                        }else{
                            color = 'green';
                        }
                        $('#dv_silo_percentage_05').css('background-color', color);
                        if(parseFloat($('#sp_silo_percentage_06').text())<25){
                            color = 'red';
                        }else if(parseFloat($('#sp_silo_percentage_06').text())<75){
                            color = 'orange';
                        }else{
                            color = 'green';
                        }
                        $('#dv_silo_percentage_06').css('background-color', color);
                        var height;
                        if(parseFloat( $('#sp_silo_percentage_01').text())>100){
                            height = 100;
                        }else{
                            height = $('#sp_silo_percentage_01').text()
                        }
                        $('#dv_silo_percentage_01').css('height', height + '%');
                        var height;
                        if(parseFloat( $('#sp_silo_percentage_02').text())>100){
                            height = 100;
                        }else{
                            height = $('#sp_silo_percentage_02').text()
                        }
                        $('#dv_silo_percentage_02').css('height', height + '%');
                        var height;
                        if(parseFloat( $('#sp_silo_percentage_03').text())>100){
                            height = 100;
                        }else{
                            height = $('#sp_silo_percentage_03').text()
                        }
                        $('#dv_silo_percentage_03').css('height', height + '%');
                        var height;
                        if(parseFloat( $('#sp_silo_percentage_04').text())>100){
                            height = 100;
                        }else{
                            height = $('#sp_silo_percentage_04').text()
                        }
                        $('#dv_silo_percentage_04').css('height', height + '%');
                        var height;
                        if(parseFloat( $('#sp_silo_percentage_05').text())>100){
                            height = 100;
                        }else{
                            height = $('#sp_silo_percentage_05').text()
                        }
                        $('#dv_silo_percentage_05').css('height', height + '%');
                        var height;
                        if(parseFloat( $('#sp_silo_percentage_06').text())>100){
                            height = 100;
                        }else{
                            height = $('#sp_silo_percentage_06').text()
                        }
                        $('#dv_silo_percentage_06').css('height', height + '%');
                        
                    }else{
                        $('#sp_silo_weight_01').text('');
                        $('#sp_silo_weight_02').text('');
                        $('#sp_silo_weight_03').text('');
                        $('#sp_silo_weight_04').text('');
                        $('#sp_silo_weight_05').text('');
                        $('#sp_silo_weight_06').text('');

                        $('#sp_silo_percentage_01').text('');
                        $('#sp_silo_percentage_02').text('');
                        $('#sp_silo_percentage_03').text('');
                        $('#sp_silo_percentage_04').text('');
                        $('#sp_silo_percentage_05').text('');
                        $('#sp_silo_percentage_06').text('');
                        
                        var color = '#FFF';
                        $('#dv_silo_percentage_01').css('background-color', color);
                        $('#dv_silo_percentage_02').css('background-color', color);
                        $('#dv_silo_percentage_03').css('background-color', color);
                        $('#dv_silo_percentage_04').css('background-color', color);
                        $('#dv_silo_percentage_05').css('background-color', color);
                        $('#dv_silo_percentage_06').css('background-color', color);

                        $('#dv_silo_percentage_01').css('height', '0px');
                        $('#dv_silo_percentage_02').css('height', '0px');
                        $('#dv_silo_percentage_03').css('height', '0px');
                        $('#dv_silo_percentage_04').css('height', '0px');
                        $('#dv_silo_percentage_05').css('height', '0px');
                        $('#dv_silo_percentage_06').css('height', '0px');
                        
                    }
                    
                    

                    APP.SERVICES.FETCH_GOALS_DATA(locationId);
                },
                error: function(){
                    alert('There was an error when pulling scales data. Reloading page.');
                    APP.location.reload();
                }
            });
        };

        APP.SERVICES.RECEIVE_SCALE_DATA_EVENT = APP.SERVICES.RECEIVE_SCALE_DATA_EVENT || function(){

            APP.STATE.SOCKET.on('scalesdata', function(message){
                var messageObject = JSON.parse(message);

                if(String(messageObject.location) == String($('#sl_location option:selected').val())){

                    $('#sp_last_date').text(messageObject.last_date);

                    $('#sp_silo_percentage_01').text(parseFloat(messageObject.porcent1).toFixed(2));
                    $('#sp_silo_percentage_02').text(parseFloat(messageObject.porcent2).toFixed(2));
                    $('#sp_silo_percentage_03').text(parseFloat(messageObject.porcent3).toFixed(2));
                    $('#sp_silo_percentage_04').text(parseFloat(messageObject.porcent4).toFixed(2));
                    $('#sp_silo_percentage_05').text(parseFloat(messageObject.porcent5).toFixed(2));
                    $('#sp_silo_percentage_06').text(parseFloat(messageObject.porcent6).toFixed(2));

                    $('#sp_silo_weight_01').text(numberWithCommas(parseFloat(messageObject.weight1).toFixed(0)));
                    $('#sp_silo_weight_02').text(numberWithCommas(parseFloat(messageObject.weight2).toFixed(0)));
                    $('#sp_silo_weight_03').text(numberWithCommas(parseFloat(messageObject.weight3).toFixed(0)));
                    $('#sp_silo_weight_04').text(numberWithCommas(parseFloat(messageObject.weight4).toFixed(0)));
                    $('#sp_silo_weight_05').text(numberWithCommas(parseFloat(messageObject.weight5).toFixed(0)));
                    $('#sp_silo_weight_06').text(numberWithCommas(parseFloat(messageObject.weight6).toFixed(0)));
                    
                    var color;
                    if(parseFloat($('#sp_silo_percentage_01').text())<25){
                        color = 'red';
                    }else if(parseFloat($('#sp_silo_percentage_01').text())<75){
                        color = 'orange';
                    }else{
                        color = 'green';
                    }
                    $('#dv_silo_percentage_01').css('background-color', color);
                    if(parseFloat($('#sp_silo_percentage_02').text())<25){
                        color = 'red';
                    }else if(parseFloat($('#sp_silo_percentage_02').text())<75){
                        color = 'orange';
                    }else{
                        color = 'green';
                    }
                    $('#dv_silo_percentage_02').css('background-color', color);
                    if(parseFloat($('#sp_silo_percentage_03').text())<25){
                        color = 'red';
                    }else if(parseFloat($('#sp_silo_percentage_03').text())<75){
                        color = 'orange';
                    }else{
                        color = 'green';
                    }
                    $('#dv_silo_percentage_03').css('background-color', color);
                    if(parseFloat($('#sp_silo_percentage_04').text())<25){
                        color = 'red';
                    }else if(parseFloat($('#sp_silo_percentage_04').text())<75){
                        color = 'orange';
                    }else{
                        color = 'green';
                    }
                    $('#dv_silo_percentage_04').css('background-color', color);
                    if(parseFloat($('#sp_silo_percentage_05').text())<25){
                        color = 'red';
                    }else if(parseFloat($('#sp_silo_percentage_05').text())<75){
                        color = 'orange';
                    }else{
                        color = 'green';
                    }
                    $('#dv_silo_percentage_05').css('background-color', color);
                    if(parseFloat($('#sp_silo_percentage_06').text())<25){
                        color = 'red';
                    }else if(parseFloat($('#sp_silo_percentage_06').text())<75){
                        color = 'orange';
                    }else{
                        color = 'green';
                    }
                    $('#dv_silo_percentage_06').css('background-color', color);


                    var height;
                    if(parseFloat( $('#sp_silo_percentage_01').text())>100){
                        height = 100;
                    }else{
                        height = $('#sp_silo_percentage_01').text()
                    }
                    $('#dv_silo_percentage_01').css('height', height + '%');
                    var height;
                    if(parseFloat( $('#sp_silo_percentage_02').text())>100){
                        height = 100;
                    }else{
                        height = $('#sp_silo_percentage_02').text()
                    }
                    $('#dv_silo_percentage_02').css('height', height + '%');
                    var height;
                    if(parseFloat( $('#sp_silo_percentage_03').text())>100){
                        height = 100;
                    }else{
                        height = $('#sp_silo_percentage_03').text()
                    }
                    $('#dv_silo_percentage_03').css('height', height + '%');
                    var height;
                    if(parseFloat( $('#sp_silo_percentage_04').text())>100){
                        height = 100;
                    }else{
                        height = $('#sp_silo_percentage_04').text()
                    }
                    $('#dv_silo_percentage_04').css('height', height + '%');
                    var height;
                    if(parseFloat( $('#sp_silo_percentage_05').text())>100){
                        height = 100;
                    }else{
                        height = $('#sp_silo_percentage_05').text()
                    }
                    $('#dv_silo_percentage_05').css('height', height + '%');
                    var height;
                    if(parseFloat( $('#sp_silo_percentage_06').text())>100){
                        height = 100;
                    }else{
                        height = $('#sp_silo_percentage_06').text()
                    }
                    $('#dv_silo_percentage_06').css('height', height + '%');
                }

                
            });
        };

        APP.SERVICES.FETCH_LOCATIONS = APP.SERVICES.FETCH_LOCATIONS || function(crewId){
            $.ajax({
                url: '/api/administrative/getLocationsByCrewId/'+ crewId,
                success: function(locations){
                    $('#sl_location').html('');
                    $('#sl_location').append('<option value="-1">Select a location</option>');

                    console.log(locations)
                    if(locations !== undefined && locations !== null){
                        for(var i = 0; i < locations.length; i++){
                            $('#sl_location').append('<option value="'+locations[i].id+'">'+locations[i].name+'</option>');
                        }                            
                    }

                },
                error: function(){
                    alert('There was an error when pulling locations data. Reloading page.');
                    APP.location.reload();
                }
            });
        }

        APP.UI = APP.UI || {};

        APP.UI.EVENTS = APP.UI.EVENTS|| {};

        APP.UI.EVENTS.BTN_RELOAD = APP.UI.EVENTS.BTN_RELOAD || function(){

            $('#btn_reload').on('click', function(){
                var selectedLocation = String($('#sl_location option:selected').val());

                if(selectedLocation !== undefined && selectedLocation !== null && selectedLocation !== "-1" && parseFloat(selectedLocation) > 0){
                    APP.STATE.SOCKET.emit('scalesrequest', JSON.stringify({'location': selectedLocation }));
                }
            });
        };

        APP.UI.EVENTS.SP_DATE = APP.UI.EVENTS.SP_DATE || function(){
            var currentDate = new Date();
            var month = currentDate.getMonth() + 1;
            var day = currentDate.getDate();
            var year = currentDate.getFullYear();

            var sMonth = (month < 10 ? "0" : "") + String(month) ;
            var sDay = (day < 10 ? "0" : "") + String(day) ;
            var sYear = String(year);

            $('#sp_date').text(sMonth + '/' + sDay + '/' + sYear);
        };

        APP.UI.EVENTS.SL_LOCATION = APP.UI.EVENTS.SL_LOCATION || function(){
            $('#sl_location').on('change', function(){
                if($(this).val() !== '-1'){
                    APP.SERVICES.FETCH_SCALES_DATA($(this).val());
                    $('.sp_goals_location_name').text($('#sl_location option:selected').text());
                }
            });
        };

        APP.UI.EVENTS.SL_CREW = APP.UI.EVENTS.SL_CREW || function(){
            $('#sl_crew').on('change', function(){
                if($(this).val() !== '-1'){
                    $('#sl_location').removeAttr('disabled');
                    APP.SERVICES.FETCH_LOCATIONS($(this).val());
                    //$('.sp_goals_location_name').text($('#sl_location option:selected').text());
                } else {
                    $('#sl_location').attr('disabled', 'disabled')
                }
            });
        };

        APP.UI.EVENTS.BTN_LOAD_LOCATION = APP.UI.EVENTS.BTN_LOAD_LOCATION || function(){
            $('#btn_load_location').on('click', function(){
                if($('#sl_location').val() === '-1'){
                    alert('Select a location first, please.');
                }else{
                    APP.SERVICES.FETCH_SCALES_DATA($('#sl_location').val());
                }
            });
        };

        APP.UI.EVENTS.ENABLE_EDIT_NAMES = APP.UI.EVENTS.ENABLE_EDIT_NAMES || function(){
            
            $(document).on('click','#nothing-to-hide', function() {
                alert(".");
                $('#update-sand1, #update-sand2, #update-sand3, #update-sand4, #update-sand5, #update-sand6, #update-silo1, #update-silo2, #update-silo3, #update-silo4, #update-silo5, #update-silo6').editable('option', 'disabled', false);
            });
        };

        APP.INIT = APP.INIT || function(){
            APP.UI.EVENTS.BTN_RELOAD();
            APP.UI.EVENTS.SP_DATE();
            APP.UI.EVENTS.SL_LOCATION();
            APP.UI.EVENTS.SL_CREW();
            APP.UI.EVENTS.BTN_LOAD_LOCATION();
            APP.UI.EVENTS.ENABLE_EDIT_NAMES();
            APP.SERVICES.RECEIVE_SCALE_DATA_EVENT();
        };

        APP.INIT();
    })(window);
</script>
</body>
</html>