<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Invoice</title>
</head>

<body>
    <%include ../partials/navbar %>
        
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <%include ../partials/sidebar %>
        <!-- Page Content Holder -->
        <div id="content" class="main-content">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a id="a_to_be_invoiced" href="#toBeInvoiced">To be invoiced</a>
                    </li>
                    <li role="presentation">
                        <a id="a_invoiced" href="#invoiced">Invoiced</a>
                    </li>
                    <li role="presentation">
                        <a id="a_paid" href="#paid">Paid</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <table id="tbl_data_grid" class="table table-bordered table-condensed table-hover table-striped">
                    <thead id="thd_data_grid">
                    </thead>
                    <tbody id="tbd_data_grid">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%include ../partials/js %>
    <script type="text/javascript">
        (function(APP){
            APP.SERVICES = APP.SERVICES || {};
            APP.SERVICES.INVOICE = APP.SERVICES.INVOICE || {};
            APP.SERVICES.INVOICE.TO_BE_INVOICED = APP.SERVICES.INVOICE.TO_BE_INVOICED || function(){
                $('button[data-function]').remove();

                $('#a_invoiced, #a_paid')
                    .parent()
                    .removeClass('active');

                $('#a_to_be_invoiced')
                    .parent()
                    .addClass('active');

                $('#tbl_data_grid').bootgrid('destroy');

                $('#thd_data_grid, #tbd_data_grid').html('');

                var headerTitles = [ 'Load', 'Date', 'Driver', 'Product', 'Company Rate', '', 'Paid Date' ];
                var rowElement = $('<tr></tr>');

                for(var i = 0; i < headerTitles.length; i++){
                    var titleColumn = $('<th></th>').text(headerTitles[i]).attr('data-column-id', headerTitles[i].toLowerCase());

                    if(headerTitles[i] === ''){
                        titleColumn.attr('data-formatter', 'invoiceCheck');
                    }

                    rowElement.append(titleColumn);
                }

                $('#thd_data_grid').append(rowElement);

                var rowElementData = $('<tr></tr>');
                var tdElementData = $('<td></td>')
                    .text('Fetching data...')
                    .attr('colspan', 7)
                    .css('text-align', 'center');

                rowElementData.append(tdElementData);

                $('#tbd_data_grid').append(rowElementData);
    
                $.ajax({
                    url: '/api/invoice/toBeInvoiced',
                    method: 'GET',
                    error: function(){
                        $('#tbl_data_grid').bootgrid({
                            labels: {
                                noResults: 'No tickets to be invoiced found.'
                            }
                        });
                    },
                    success: function(data){
                        $('#tbd_data_grid').html('');

                        debugger;
                        for(var i = 0; i < data.length; i++){
                            var trElement = $('<tr></tr>');

                            for(var j = 0; j < headerTitles.length; j++){
                                var dataColumn = $('<td></td>')
                                    .text(data[i][headerTitles[j]] || 'Not available');
                                
                                trElement.append(dataColumn);
                                $('#tbd_data_grid').append(trElement);
                            }
                        }

                        $('#tbl_data_grid').bootgrid({
                            labels: {
                                noResults: 'No tickets to be invoiced found.'
                            },
                            formatters: {
                                invoiceCheck: function(column, row){
                                    return '<input type="checkbox" data-id="' + row['load'] + '" class="form-check-input" />';
                                }
                            }
                        });
                    }
                });

                var btnElem = $('<button />')
                    .text('Invoice')
                    .addClass('btn btn-primary')
                    .css('float', 'right')
                    .attr('data-function', 'invoice')
                    .on('click', function(){});

                $('#tbl_data_grid').parent().append(btnElem);
            };

            APP.EVENTS = APP.EVENTS || {};

            APP.EVENTS.UI = APP.EVENTS.UI || {};
            APP.EVENTS.UI.TO_BE_INVOICED = APP.EVENTS.UI.TO_BE_INVOICED || function(){
                $('#a_to_be_invoiced').on('click', APP.SERVICES.INVOICE.TO_BE_INVOICED);
            };

            APP.INIT = APP.INIT || function(){
                $('li[id^="li_sdbr"]').removeClass('active');
                $('li[id="li_sdbr_invoice"]').addClass('active');
                APP.EVENTS.UI.TO_BE_INVOICED();
                APP.SERVICES.INVOICE.TO_BE_INVOICED();
            };

            APP.INIT();
        })(window);
    </script>
</body>
</html>