<!-- views/login.ejs -->
<!DOCTYPE html>
<html class="fixed">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="PID Electronics">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>Cedar Logistics Customer | Login</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="http://sandrevolution.com/assets/frontend/img/icons/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="http://sandrevolution.com/assets/frontend/img/icons/favicon.png">
    <link rel="stylesheet" href="http://sandrevolution.com/assets/backend/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="http://sandrevolution.com/assets/backend/css/theme.css" />
    <link rel="stylesheet" href="http://sandrevolution.com/assets/backend/css/style-switcher.css">
    <link rel="stylesheet" href="http://sandrevolution.com/assets/backend/css/custom.css">
    <link rel="stylesheet" href="http://sandrevolution.com/cedar/style.css">

</head>

<body>

<!-- start: login page -->
<div class="container-fluid bg-cedar">
    <section class="body-sign">
        <div class="center-sign">
            <a href="#" class="logo float-left">
                <img src="http://sandrevolution.com/assets/backend/img/logos/logo.png" height="60" alt="Logo" />
            </a>

            <div class="panel card-sign">
                <div class="card-title-sign mt-3 text-right">
                    <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Login </h2>
                </div>
                <div class="card-body">
                    <form action="/customer/sing-in" method="post" role="login">
                        <div class="form-group mb-3">
                            <label>Username</label>
                            <div class="input-group">
                                <input id="username" name="username" type="text"  class="form-control" placeholder="Enter username" required autofocus/>
                                <span class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                </span>
                            </div>
                    </div>

                        <div class="form-group mb-3">
                            <div class="clearfix">
                                <label class="float-left">Password</label>
                                <div class="input-group">
                                    <input type="password" id="password" name="password" required class="form-control" placeholder="Enter password" />
                                    <span class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-right">
                                <button type="submit" name="go" class="btn btn-primary mt-3">Login</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <p class="text-center text-muted mt-3 mb-3">© Copyright 2018. All rights reserved.</p>
        </div>
    </section>
</div>
<!-- end: login page -->

<script src="http://sandrevolution.com/assets/backend/vendor/jquery/jquery.js"></script>
<script src="http://sandrevolution.com/assets/backend/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="http://sandrevolution.com/assets/backend/js/theme.js"></script>-->

</body>
</html>

