<!-- views/login.ejs -->
<!DOCTYPE html>

<html>
<head>
   <title>Kinnil login</title>
   <link rel="stylesheet" href="/assets/css/bootstrap.css" rel="stylesheet">
   <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

   <style>
        body        { padding-top:80px; background-color: #1B405D; }
        
   </style>
</head>

<body>
      <div class="container">
      <div class="card card-container">
            <%if (message.length > 0) { %>
                  <div class="alert alert-danger">
                        <%= message %>
                  </div>
            <%} %><!-- LOGIN FORM -->
            <form class="form-signin" action="/" method="post">
                  <span id="reauth-email" class="reauth-email"></span>
                  <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required autofocus>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                  <div id="remember" class="checkbox">
                  <label>
                        <input type="checkbox" value="yes" name="remember"> Recordarme
                  </label>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"><span class="fa fa-sign-in"></span> Iniciar Sesión</button>
            </form><!-- /form -->
      </div><!-- /card-container -->
      </div><!-- /container -->
      </div>
   </div>
</body>
</html>
