<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Mtto</title>
</head>

<body>

        <%include ../partials/navbar %>
        
        <div class="wrapper">
                <!-- Sidebar Holder -->
                <%include ../partials/sidebar %>
    
                <!-- Page Content Holder -->
                <div id="content">
    
                    <div class="row">


                    </div>
    
                    
                </div>
            </div>
    


    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <%include ../partials/js %>
    <script>
        //var socket = io.connect('http://localhost:3000');
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

</body>
</html>