<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Payroll - HR</title>
</head>

<body>

<%include ../partials/navbar %>


<div class="wrapper">
    <!-- Sidebar Holder -->
    <%include ../partials/sidebar %>

    <!-- Page Content Holder -->
    <div id="content" class="main-content">
            <h4>Payroll</h4>
        <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="../payroll/hr">Human resources</a></li>
            <li role="presentation"><a href="../payroll/drivers">Drivers</a></li>
        </ul>
        <div class="tab-content"> 
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        

                        <form>
                            <div class="radio">
                                <label class="radio">
                                <input type="radio" name="POSITION" id="Radio3" value="FIELD CREW OPERATOR"> FIELD CREW OPERATOR
                                </label>
                                <label class="radio">
                                <input type="radio" name="POSITION" id="Radio3" value="FIELD CREW MANAGER"> FIELD CREW MANAGER
                                </label>
                                <label class="radio">
                                <input type="radio" name="POSITION" id="Radio3" value="FIELD CREW SUPERVISOR"> FIELD CREW SUPERVISOR
                                </label>
                                <label class="radio">
                                <input type="radio" name="POSITION" id="Radio3" value="OPERATIONS"> OPERATIONS
                                </label>
                                <label class="radio">
                                <input type="radio" name="POSITION" id="Radio3" value="MECHANICS"> MECHANICS
                                </label>
                                <label class="radio">
                                <input type="radio" name="POSITION" id="Radio3" value="OFFICE"> OFFICE
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <br/>
                        <br/>
                        <select class="form-control" id="selectedHr">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-horizontal">
                        <div class="form-group">
                            <label for="id" class="control-label col-xs-4">id</label>
                            <div class="col-xs-8">
                                <input class="form-control" id="id" type="text" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label col-xs-4">Name</label>
                            <div class="col-xs-8">
                                <input class="form-control" id="name" type="text" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="position" class="control-label col-xs-4">Position</label>
                            <div class="col-xs-8">
                                <input class="form-control" id="position" type="text" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label col-xs-4">email</label>
                            <div class="col-xs-8">
                                <input class="form-control" id="email" type="text" value="" disabled>
                            </div>
                        </div>
                        
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form class="form-horizontal">
                        <div class="form-group">
                            <label for="phone" class="control-label col-xs-4">Phone</label>
                            <div class="col-xs-8">
                                <input class="form-control" id="phone" type="text" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dllshr" class="control-label col-xs-4">dlls / hr</label>
                            <div class="col-xs-8">
                                <input class="form-control" id="dllshr" type="text" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ssn" class="control-label col-xs-4">ssn</label>
                            <div class="col-xs-8">
                                <input class="form-control" id="ssn" type="text" value="" disabled>
                            </div>
                        </div>
                        
                        </form>
                    </div>
                </div>
                <div class = "row">
                    <h4> Clockin events</h4>
                    <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric" data-width="10%">Clockin No.</th>
                            <th data-column-id="evento" data-formatter="link">UUID</th>
                            <th data-column-id="in" >In</th>
                            <th data-column-id="out">Out</th>
                            <th data-column-id="hours-worked">Hours worked</th>
                            <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quote">
                            <td id=""></td>
                            <td id=""></td>
                            <td id=""></td>
                            <td id=""></td>
                            <td id=""></td>
                            <td id=""></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="validate" type="button" class="btn btn-secondary pull-right" disabled>Validate</button>
                    </div>
                </div>
                <div class = "row">
                    <h4> Payroll entries</h4>
                    <table id='grid-payroll' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric" data-width="10%">Payroll No.</th>
                            <th data-column-id="amount">Amount</th>
                            <th data-column-id="hours-worked">Hours Worked</th>
                            <th data-column-id="date">Date</th>
                            <th data-column-id="wire-transfer">Wire Transfer</th>
                            <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quote">
                            <td id=""></td>
                            <td id=""></td>
                            <td id=""></td>
                            <td id=""></td>
                            <td id=""></td>
                            <td id=""></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- wireTransferModal -->
<div id="wireTransferModal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Capture wire transfer</h4>
    </div>
    <div class="modal-body">
        <label for="id" class="control-label col-xs-4">Wire Transfer</label>
        <div class="col-xs-8">
            <input class="form-control" id="wireTransferInput" type="text" value="">
        </div>
        <br/>
        <br/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="accepted" type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <%include ../partials/js %>

    <!-- Ticket detail modal  -->
    <!--<%include ../partials/ticket-detail %>-->
    <script>
        //var socket = io.connect('http://localhost:3000');
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

        
        $("input[name='POSITION']").click(function() {

            $("#selectedHr").html("<option value='0'> please select </option>");
            $.ajax({
                url: '/api/payroll/hr',
                method: 'POST',
                data: {
                    position: this.value,
                },
                success: function(data){
                    var sel = document.getElementById('selectedHr');
                    var fragment = document.createDocumentFragment();

                    data.forEach(function(hr, index) {
                        var opt = document.createElement('option');
                        opt.innerHTML = hr.name;
                        opt.value = hr.id;
                        fragment.appendChild(opt);
                    });

                    sel.appendChild(fragment);    
                },
                error: function(){
                    alert('Please try again');
                }
            });
        });

        $("#selectedHr").on('change', function() {
            
            if (this.value != "0") {
                $.ajax({
                    url: '/api/payroll/byId',
                    method: 'POST',
                    data: {
                        id: this.value,
                    },
                    success: function(hr){
                        $("#id").val(hr[0].id);
                        $("#name").val(hr[0].name);
                        $("#position").val(hr[0].position);
                        $("#email").val(hr[0].email);
                        $("#phone").val(hr[0].tel);
                        $("#dllshr").val(hr[0].dll_hr);
                        $("#ssn").val(hr[0].ssn);

                        //Recargar Bottgrid
                        $('#grid-basic').bootgrid('destroy');
                        $('#grid-payroll').bootgrid('destroy');
                        initGrid(hr[0].id);
                        initGridPayroll(hr[0].id);

                        $('#validate').prop("disabled", false);
                    },
                    error: function(){
                        alert('Please try again');
                    }
                });
            }
            
            
        })

        function initGrid(payroll_id) {
            var grid = $("#grid-basic").bootgrid({
                ajax: true,
                ajaxSettings: {
                    method: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false
                },
                url: "/api/payroll/getClockinById/" + payroll_id,
                caseSensitive: false,
                formatters: {
                    "link": function(column, row)
                    {
                        return "<a href=\"#myModal\" data-toggle=\"modal\" data-ticket=\"" + row.id +  "\" class=\"text-center black-link show-ticket\">" + row.evento + "</a>";
                    },
                    "commands": function(column, row)
                    {
                        return "<input class=\"validate\" type=\"checkbox\" value=\"" + row.id + "\"></label>" 
                    }
                }
            }).on("loaded.rs.jquery.bootgrid", function()
            {
                
                /* Executes after data is loaded and rendered */
                grid.find(".command-edit").on("click", function(e)
                {
                    //alert("You pressed edit on row with the Id: " + $(this).data("row-id") + " and driver Id: " + $("#driverSelect").val() + "and product Id: " + $("#productsSelect").val());
                })
            });
        }
        
        function initGridPayroll(payroll_id) {
            var grid = $("#grid-payroll").bootgrid({
                ajax: true,
                ajaxSettings: {
                    method: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false
                },
                url: "/api/payroll/getPayrollHrById/" + payroll_id,
                caseSensitive: false,
                formatters: {
                    "commands": function(column, row)
                    {
                        return "<button type=\"button\" class=\"btn btn-md btn-default command-payroll-to-pdf\" data-row-id=\"" + row.id + "\">PDF</button>" 
                    }
                }
            }).on("loaded.rs.jquery.bootgrid", function()
            {
                /* Executes after data is loaded and rendered */
                grid.find(".command-edit").on("click", function(e)
                {
                    //alert("You pressed edit on row with the Id: " + $(this).data("row-id") + " and driver Id: " + $("#driverSelect").val() + "and product Id: " + $("#productsSelect").val());
                });
            });
        }

        $("#validate").click(function() {
            $('#wireTransferModal').modal('show');
        });

        $("#accepted").click(function() {
            var clockinList = [];
            $('.validate:checkbox:checked').each(function() {
                clockinList.push($(this).val());
            });

            if($("#dllshr").val() == null || $("#dllshr").val() == undefined || $("#dllshr").val() == ""){
                alert("please define dlls/hr for selected user");
                return // TODO: hacer una prueba con un hr sin dlls_hr para ver si corre el codigo de abajo (en distintos navegadores)!!
            }

            if (clockinList != ''){

                $.ajax({
                    url: '/api/payroll/createPayrollEntry/',    
                    type: 'POST',   
                    data: {
                        clockinList: clockinList,
                        id: $("#id").val(),
                        dllsHr: $("#dllshr").val(),
                        wireTransfer: $("#wireTransferInput").val()
                    },      //Data as js object
                    success: function (msj) {
                        alert(msj.message);
                        $('#grid-basic').bootgrid('destroy');
                        $('#grid-payroll').bootgrid('destroy');
                        initGrid($("#id").val());
                        initGridPayroll($("#id").val());
                        $('#wireTransferModal').modal('hide');
                        $("#wireTransferInput").val("");
                    },
                    error: function(xhr) {
                        $('#wireTransferModal').modal('hide');
                        alert("Error occured. please try again");
                    },
                })
            }
            else {
                alert("No clockin event(s) selected")
            }
        })

        //$('li[id^="li_sdbr"]').removeClass('active');
        $('li[id="li_sdbr_payroll"]').addClass('active');

        
    </script>




</body>
</html>