<!DOCTYPE html>

<html>
<head>
   <title>Node Authentication</title>
   <link href="/css/bootstrap.css" rel="stylesheet">
   <link href="/css/font-awesome.min.css" rel="stylesheet">
   <style>
      body      { padding-top:80px; }
   </style>
</head>

<body>
   <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
         <h1><span class="fa fa-sign-in"></span> Registro</h1>
         <!-- show any messages that come back with authentication -->
         <%if (message.length > 0) { %>

         <div class="alert alert-danger">
            <%= message %>
         </div>
         <%} %><!-- SIGNUP FORM -->


         <form action="/signup" method="post">
            <div class="form-group">
               <label>Usuario</label> <input class="form-control" name="username" type="text">
            </div>


            <div class="form-group">
               <label>Password</label> <input class="form-control" name="password" type="password">
            </div>


            <div class="form-group">
               <label>email</label> <input class="form-control" name="email" type="email">
            </div>


            <div class="form-group">
               <label>Tipo</label> <select class="form-control">
                  <option selected>
                     Regular
                  </option>

                  <option value="1">
                     Regular
                  </option>

                  <option value="2">
                     Admin
                  </option>

                  <option value="3">
                     Superuser
                  </option>
               </select>
            </div>
            <button class="btn btn-warning btn-lg" type="submit">Registrar</button>
         </form>

         <hr>


         <p>¿Ya tienes una cuenta? <a href="/web/users/login">Iniciar sesión</a></p>
      </div>
   </div>
</body>
</html>